<% if student.current_class_status(session.id) == "Late" %>
  <% btn_type = "btn-danger" %>
  <% status = "Late"  %>
<% else %>
  <% btn_type = "btn-success" %>
  <% status = "On time"  %>
<% end %>
<div class ='btn-group'>
  <a class='btn btn-mini <%= btn_type %> dropdown-toggle' data-toggle = 'dropdown' href = '#'>
    <%= status %>
    <span class='caret'></span>
  </a>
  <ul class='dropdown-menu'>
    <li>
      <%= link_to "On time", attendance_path(student.find_session_attendance(session.id), attendance: {status: status}), method: :put, remote: :true %>
    </li>
    <li>
      <%= link_to "Absent", attendance_path(student.find_session_attendance(session.id)), method: :delete %>
      </li>
      </ul>
</div>