%tr
  %td= student.first_name + " " + student.last_name
  %td
    - if !student.find_session_attendance(@session.id)
      = render partial: 'absent', locals: {student:student, session: @session}
    - else
      = render partial: 'sign_in', locals: {student: student, session: @session}
