%h2.teacher_name
  Teacher:
  = @session.afterschool_class.teachers.first.first_name + " " + @session.afterschool_class.teachers.first.last_name
  %h2.grade_level
    Grade:
    = @session.afterschool_class.grade_level.year
  %h2.students Student Roster

  %table.table.table-striped#student_table= render :partial => 'student', :collection => @session.afterschool_class.students

  %br
  %div= button_to "Delete Session", afterschool_class_session_path(@session), method: :delete, data: {confirm: "Are you sure?"}

