%h1.teacher_name
  = @session.afterschool_class.teachers.first.first_name + " " + @session.afterschool_class.teachers.first.last_name
%h3= @session.afterschool_class.grade_level.year

%ul.nav.nav-list
  %li.divider

.row
  .span5.roster
    %h3 Student Roster
    %table.table.table-striped#student_table= render :partial => 'student', :collection => @session.afterschool_class.students
  .span5.student-assignments
.row
  .span1.session_stats
    .well
      .stat=@session.overall_assignment_completion_percentage
      Overall
  .span1.session_stats
    .well
      .stat=@session.subject_completion_percentage("Math")
      Math
  .span1.session_stats
    .well
      .stat=@session.subject_completion_percentage("ELA")
      ELA
  .span1.session_stats
    .well
      .stat=@session.subject_completion_percentage("Social Studies")
      S.S.
  .span1.session_stats
    .well
      .stat=@session.subject_completion_percentage("Science")
      Science
  .span1.session_stats
    .well
      .stat=@session.subject_completion_percentage("Extra Credit")
      Extra Credit
  .span1.session_stats
    .well
      .stat=@session.overall_attendance_percent
      Attendance
  .span1.session_stats
    %span.badge.badge-important
      Absent :
      =@session.absent_count
    %span.badge.badge-success
      On Time :
      =@session.on_time_count
    %span.badge.badge-warning
      Late :
      =@session.late_count

    %br
.row
  %div= button_to "Delete Session", afterschool_class_session_path(@session), method: :delete, data: {confirm: "Are you sure?"}


