%tr
  %td=assignment.description
  %td=assignment.due_date
  %td=assignment.grade_level.year
  %td="#{assignment.completion_percent.round(2)}%"
  %td
    %span.label.label-info
      %i.icon-edit
      =link_to "edit", edit_assignment_path(assignment)
  %td
    %span.label.label-important
      %i.icon-trash
      =link_to "delete", assignment_path(assignment), method: :delete, data: {confirm: "Are you sure?"}


