%h1 Assignments List
%p=link_to "Export to Excel", assignments_path(format: "xls")
%ul.nav.nav-list
  %li.divider
%table.table.table-striped#assignment_table
  %thead
    %tr
      %th Assignment
      %th Due Date
      %th Grade
      %th % Complete
    %tr
      %th.grade{:colspan => 6}
        6th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "6th Grade"}
  %thead
    %tr
      %th.grade{:colspan => 6}
        7th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "7th Grade"}
  %thead
    %tr
      %th.grade{:colspan => 6}
        8th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "8th Grade"}

