%h1 Assignments List
%ul.nav.nav-list
  %li.divider
%table.table.table-striped#assignment_table
  %thead
    %tr
      %th Assignment
      %th Grade
      %th % Complete
    %tr
      %th{:colspan => 5} 6th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "6th Grade"}
  %thead
    %tr
      %th{:colspan => 5} 7th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "7th Grade"}
  %thead
    %tr
      %th{:colspan => 5} 8th Grade
  = render :partial => 'assignment', :collection => @assignments.select {|a| a.grade_level.year == "8th Grade"}

