%h1 Afterschool Class List
%ul.nav.nav-list
  %li.divider
.row
  .span5
    %h3 Teacher
    %table.table.table-striped#student_table= render :partial => 'afterschool_class', :collection => @afterschool_classes
  .span5.current-status