.span1.session_stats
  .well
    .stat=@grade_level.overall_assignment_completion_percentage
    Overall
.span1.session_stats
  .well
    .stat=@grade_level.assignments_completion_percentage("Math")
    Math
.span1.session_stats
  .well
    .stat=@grade_level.assignments_completion_percentage("English Language Arts (ELA)")
    ELA
.span1.session_stats
  .well
    .stat=@grade_level.assignments_completion_percentage("Social Studies")
    S.S.
.span1.session_stats
  .well
    .stat=@grade_level.assignments_completion_percentage("Science")
    Science
.span1.session_stats
  .well
    .stat=@grade_level.assignments_completion_percentage("Extra Credit")
    Extra Credit
.span1.session_stats
  .well
    .stat=@grade_level.overall_attendance_percent
    Attendance
.span1.session_stats
  %span.badge.badge-success
    On time :
    =@grade_level.on_time_count
  %br
  %span.badge.badge-warning
    Late :
    =@grade_level.late_count
  %br
  %span.badge.badge-important
    Absent :
    =@grade_level.absent_count