$(document).ready(function() {
  $('#assignment_due_date_0').datepicker({ dateFormat: 'yy-mm-dd'});

  var count = '1';

  $('.add-assignment-form a').on('click', function () {

    $(this).after("<input id='assignment_due_date_"+count+"' id='assignment_"+count+"_due_date' name='assignment["+count+"][due_date]' type='text' value=<%=Date.today + 1.day%>>")
    $(this).after("<label for='Due_Date__default_is_tomorrow_'>Due date (default is tomorrow)</label>")
    $(this).after("<input id='assignment_"+count+"_description' name='assignment["+count+"][description]'   placeholder='Enter new assignment' type='text'>")
    $(this).after("</br><h4>Assignment</h4>")

    $("#assignment_due_date_"+count).datepicker({ dateFormat: 'yy-mm-dd'});

    count = parseInt(count) + 1;
  });
});