$(document).ready(function() {
  var count = '1';

  $('.add-student-form a').on('click', function () {
    $(this).after("<input id='afterschool_class_students_attributes_"+count+"_last_name' name='afterschool_class[students_attributes]["+count+"][last_name]' placeholder='Last Name' size='30' type='text'>")
    $(this).after("<label for='afterschool_class_students_attributes_"+count+"_last_name'>Last Name</label>")
    $(this).after("<input id='afterschool_class_students_attributes_"+count+"_first_name' name='afterschool_class[students_attributes]["+count+"][first_name]' placeholder='First Name' size='30' type='text'>")
    $(this).after("<label for='afterschool_class_students_attributes_"+count+"_first_name'>First Name</label>")
    $(this).after("<h4>Student</h4>")

    count = parseInt(count) + 1
  });
});